@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Application Submitted";
}

@model ApplicationResponse

@if (Model.CreeperStalker == true)
{
    <h2>My bad @Model.FirstName.ToUpper(). I forgot I was already in a relationship</h2>
}
else
{
    <h2>Application Received. Thank you, @Model.FirstName.ToUpper(), for your submission!</h2>
}
