@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dating Application";   
}

@model ApplicationResponse

<p>This is the application page!</p>

<div>
    <form method="post">
        
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" /><br />

        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" /><br />

        <label asp-for="Age">Age:</label>
        <input asp-for="Age" /><br />

        <label asp-for="Phone">Phone Number:</label>
        <input asp-for="Phone" /><br />

        <label asp-for="Major">Major:</label>
        <input asp-for="Major" /><br />

        <label asp-for="CreeperStalker">Check if you are a Creeper or Stalker?:</label>
        <select asp-for="CreeperStalker">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <button type="submit">Submit Application</button>
     
    </form>
    <div asp-validation-summary="All"></div>
</div>